*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site-header {
    color: white;
    font-size: 2rem;
    box-sizing:initial;
}

.menue {
    height: 10rem;
    text-align: center;
    background-color: rgb(31, 31, 29);
    
}
.menue-item{
    text-decoration: none;
    color:  rgb(169, 169, 169); 
    font-size: 150%;
    padding: 10px;
    position: 50px;
    

}
form{
background-image: url(./ressources/fine\ lame\ de\ porc\ et\ sauce\ de\ chef.jpg) ;
    height: 300px;
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 70%;


}
#nom{
    border-radius: 30px;
    height: 40px;
    width:600px
}
#heure{
    border-radius: 30px;
    height: 40px;
    width:600px
}
#nombre_personnes{
    border-radius: 30px;
    height: 40px;
    width:600px
}

#bouton{
    border-radius: 30px;
    height: 40px;
    width: 100px;
}

.product-image{
    height: 20rem;
    display: flex;
    align-items: center;
    color: inherit;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: capitalize;
}

.img-taille {
    max-width: 100%;
    height: auto;
    padding: 150px;

}

.temoignages {

    padding: 40px 20px;
    text-align: center;
}

.temoignages h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.temoignage {
    margin: 20px 0;
    padding: 20px;
    border-left: 5px solid #007BFF;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.temoignage img {
    width: 80px;  
    height: 80px;
    border-radius: 50%;  
    margin-right: 20px;  
    object-fit: cover;  
}
.text{
    color: black;
}

.temoignage footer {
    font-size: 1rem;
    color: #007BFF;
    margin-top: 10px;
}
.carte {
    background-color: rgb(31, 31, 29);
    color: rgb(169, 169, 169);
    font-size: 1.4rem;
    text-align: center;
}

.titre{
    font-size: 200%;
}
.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espace entre les éléments */
}
.hamburger{
    text-align: center;
    object-position: center;
}



.product-image1{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}


.product-image2{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}

.product-image3{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}

.product-image4{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}

.product-image5{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}

.product-image6{
    height: 20rem;
    width: 10 rem;
    align-items: center;
    padding: 0 6rem;
    justify-self: center;
    align-self: center;
}
.separation{
    background-image: url(./ressources/cover_dark.jpg) ;
    height: 300px;
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: auto;
    height: 760px;
}
.site-footer{
    color: white;
    font-size: 1.4rem;
    background-color: rgb(31, 31, 29);
    text-align: left;
}



.footer-item {
    height: auto;
    text-align: right;
    font-size: 200%;
}

.footer-item ul {
    list-style: none;
}

.footer-item a {
    color: inherit;
    text-decoration: none;
}

.footer-item-title {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 2rem;
}

.footer-item-society {
    background-color: var(--bg-light-dark);
    padding: 6rem 0;
    text-align: center;
}



.footer-item-society p {
    margin-bottom: 1rem;
}

/*versel*/


